[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = {extras = ["syntax"], version = "*"}

[dev-packages]
textual-dev = "*"
pyinstrument = "*"
mypy = "*"
tomli = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
