[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual-dev = "*"
pyinstrument = "*"
textual = {extras = ["syntax"], version = "*"}

[dev-packages]
mypy = "*"
tomli = "*"

[requires]
python_version = "3.10"
